.wrapper.breadcrumb {
  height: 60px;
  background: url("images/clouds.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.breadcrumb-list {
  list-style-type: none;
  margin-left: 20px;
}

.breadcrumb-list > li {
  display: inline-block;
  font-size: 1.2rem;
  font-weight:600;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: var(--text-color);
  color: #191b32;
  margin: 0 10px;
}

.breadcrumb-list > li > a {
  text-decoration: none;
  color: inherit;
}

.breadcrumb-list > li:nth-child(2n) {
  width: 1px;
  height: 1.4rem;
  background-color: var(--text-color);
  background-color: #191b32;
}