.footer__layout-flex {
  background-color: #f9f9f9;
  padding: 76px 35px 0px 35px;
}

.footer__about-me {
  flex: 0 1 50%;
  margin-bottom: 25px;
  padding-right: 15px;
}

.footer__navigation {
  flex: 0 1 220px;
  margin-bottom: 25px;
}

.footer__form-element {
  flex: 0 0 230px;
  margin-bottom: 25px;
  text-align: center;
}

.footer__title-item {
  line-height: 2.16rem;
  letter-spacing: 0.4rem;
  color: var(--text-color);
}

.footer__title-item--center {
  text-align: center;
}

.footer__text-item {
  color: #9798a6;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  text-align: justify;
  margin-top: 35px;
}

.footer__navigation-bar {
  list-style-type: none;
  text-align: center;
  margin-top: 35px;
}

.footer__navigation-bar > li {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: 0rem;
  margin-top: 15px;
  transition: color 0.3s ease;
}

.footer__navigation-bar > li > a {
  text-decoration: none;
  color: inherit;
}

.footer__navigation-bar > li:hover {
  color: var(--primary-color);
}

.button-icon {
  fill: #fff;
  display: inline-block;
  width: 16px;
  height: 16px;  
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.button-item {
  display:inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  color: #fff;
  background-color: var(--primary-color);
  margin: 35px 0px 80px 0px;
  padding: 7px 45px;
  transition: all .3s ease;
}

.button-item:hover {
  background-color: #269081;
  cursor: pointer;
}

.footer__social-media {
  margin: 25px 0px 0px 0px;
}

.footer__social-media .social-media__icon {
  border-color: #f9f9f9;
}

.footer__layout-2-columns .splitter {
  flex: 1 1 90%;
  height: 1px;
  background-color: var(--icon-color);
  margin: 0px 10px;
}

.footer__layout-2-columns {
  background-color: #f9f9f9;
  padding: 0px 35px 10px 35px;
  align-items: center;
}

.copyright {
  flex: 0 0 50%;
  text-align: justify;
  margin-top: 5px;
}

.scroll-up {
  position: fixed;
  right: 10px;
  bottom: 15px;
}

.scroll-up__icon {
 width: 24px;
 height: 24px;
 fill: var(--primary-color);
 transition: all 0.3s ease ;
}

.scroll-up__icon:hover {
  fill: var(--text-color);
}