@media only all and (max-width: 414px)
{
  .scroll-up {
    display: none;
  }

  .news--3 {
    background-position: -40px 0px;
  }

  .duran__container {
    padding: 20px 10px;  
  }

  .duran__text {
    padding: 25px 15px;
  }

  .articles__wrapper, .events__wrapper {
    padding: 20px 10px;
  }

  .footer__wrapper {
    padding: 75px 10px 10px 10px;
  }

  .details__element {
    padding: 80px 10px 75px 10px;
  }
  
  .form__element {
    padding: 80px 10px 75px 10px;
  }

  .newsletter__wrapper {
    padding: 45px 10px;
  }

  .leather-article__wrapper {
    padding: 40px 10px 40px 10px;
  }

  .transfer-form__wrapper {
    padding: 0px 10px 0px 10px;
  }

  .video__wrapper {
    padding: 40px 10px 40px 10px;
  }
}