@media all and (max-width: 767px)
{
  .header__title {
    flex: 100% 0 0;
  }

  .header__social-media {
    flex: 100% 0 0;
    text-align: center;
  }

  .navigation {
    display: none;
  }

  .logo-navigation-container {   
    justify-content: center;
  }

  .logo {
    flex:0 0 25%;
  }

  .container-2-columns--inner {
    display: flex;
    flex-wrap: wrap;
  }

  .container-2-columns--inner__element {
    flex: 0 0 100%;
    overflow: hidden;
  }

  .header-element--hamburger {
    display: flex;
  }

  .search {
    position: absolute;
    top: 155px;
    right: 20px;
  }

  .search-field {
    width: 185px
  }

  .footer__navigation, .footer__form-element {
    flex: 1 1 100%;
  }

  .footer__layout-2-columns {
    justify-content: center;
  }

  .copyright {
    flex: 0 1 80%;
  }

  .contacts__element {
    flex: 1 1 100%;
    margin: 15px 0px;
  }

  .details__element {
    flex: 0 1 100%;
    text-align: center;
    justify-content: center;
  }

  .form__element {
    flex: 0 1 100%;
    text-align: center;
    justify-content: center;
  }

  .message-icon {
    display: block;
    margin: 0px auto 10px;
    top: 0rem;
  }

  .address, .email, .whatsapp {
    text-align: center;
  }
  
  .form__element {
    flex: 0 1 100%;
  }

  .newsletter-form > input[type="submit"] {
    flex: 0 0 100%;
    margin: 15px 0px 0px 0px;
  }
}


@media all and (min-width: 768px)
{
  .menu-wrap {
    display: none;
  }
}